

.jumbotron {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem !important;
    flex-wrap: wrap;
}

.social-share {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}

.hero-image {
    margin-right: 15px;
   }
.jumbotron img {
    max-height: 125px;
    margin-right: 15px;
}

.social-hero { 
    min-height: 75px;
    max-height: 115px;
}

nav {
    background-color: #346133 !important;
}
nav a, nav li, nav p {
    color: white !important;
}

.col {
    border: solid black 2px;
}






