 /* Smallest devices (landscape phones, 576px and down) */
 @media (max-width: 576px) { 
    
    /* MAIN HEADER */
    .main-header {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .main-support {
        font-size: 1rem;
    }

    /* SECONDARY HEADER */
    .secondary-header {
        font-size: 2.1rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .navbar-brand {
        margin-left: 0.75rem;
    }

/* SECTION SPACING padding - margin */
    .row-1, .row-2, .row-3 {
        padding: 1.5rem 0 1.5rem 0;
    }
/* ------------------------------------------------------------------------------------------ */

 }
 
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* MAIN HEADER */
    .main-header {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .main-support {
        font-size: 1.5rem;
    }

    /* SECONDARY HEADER */
    .secondary-header {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    }

    .navbar-brand {
        margin-left: 0.75rem;
    }
/* SECTION SPACING padding - margin */
    .row-1, .row-2, .row-3 {
        padding: 1.5rem 0 1.5rem 0;
    }
/* ------------------------------------------------------------------------------------------ */
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* MAIN HEADER */
    .main-header {
        font-size: 4rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .main-support {
        font-size: 1.5rem;
    }

    /* SECONDARY HEADER */
    .main-header {
    font-size: 2.7rem;
    font-weight: 300;
    line-height: 1.2;
    }

    .navbar-brand {
        margin-left: 1.2rem;
    }
/* SECTION SPACING padding - margin */
    .row-1, .row-2, .row-3 {
        padding: 3rem 0 3rem 0;
    }

/* ------------------------------------------------------------------------------------------ */
}
  

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* MAIN HEADER */
    .main-header {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .main-support {
        font-size: 2rem;
    }

    /* SECONDARY HEADER */
    .secondary-header {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    }

    .navbar-brand {
        margin-left: 1.2rem;
    }
 }

/* NAVBAR */
/* --------------------------------------------------------------------------- */
.bg-light {
    background-color: #ededed !important;
}

.navbar-nav {
    margin-right: 5rem!important;
}

.navbar-nav li {
    margin-right: 1.5rem;
}

.nav-item a {
    font-size: 1.2rem;
}

.navbar-brand img {
    height: 70px;
}
/* NAVBAR */
/* --------------------------------------------------------------------------- */

/* SECTION BACKGROUNDS */
.tan-background {
    background-color: #ededed;
}

.blue-background {
    background-color: #F8FCFF;
}
/* ------------------------------------------------------------------------------------------ */

/* TYPOGRAPHY */
p, div, a {
    color: #707070;
}

.fancy {
    font-family: papyrus;
}

.benefits-list li {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.3rem;
}
/* ------------------------------------------------------------------------------------------ */

/* IMAGES */
.CTA-social {
    height: 2.5rem;
}
/* -------------------------------------------------------------------------------------------------- */

/* FOOTER CSS */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }

  .wrapper {
    flex-grow: 1;
}
  
  /* Footer styles */

  footer {
    
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  /* ---------------------------------------------------------------------------------------------------- */

  






