

.hero-image{
    background-image: url('../images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 185px;
   }

nav {
    background-color: #346133 !important;
}
nav a, nav li, nav p {
    color: white !important;
}

.col {
    border: solid black 2px;
}






